:host {
  display: block;
  margin: 0 !important;
  padding: 0 !important;
  margin-top: 0 !important;
  padding-top: 0 !important;
  width: 100%;
}

.etiquetas-container {
  padding: 0;
  max-width: 1200px;
  margin: 0 auto !important;
  margin-top: 0 !important;
  padding-top: 0 !important;
  width: 100%;
}

